In [29]:
pip install word2number

Collecting word2numberNote: you may need to restart the kernel to use updated packages.
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5586 sha256=93bd16a75ea120ab0d9c3192f4fba73c8c4894c80774c7e8801af460901aa74c
  Stored in directory: c:\users\sarvesh\appdata\local\pip\cache\wheels\cb\f3\5a\d88198fdeb46781ddd7e7f2653061af83e7adb2a076d8886d6
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import math
from word2number import w2n

In [2]:
df = pd.read_csv('homeprices02.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
df.bedrooms.median()

4.0

In [8]:
df.bedrooms =  df.bedrooms.fillna(df.bedrooms.median())
df #removed NULL values

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
#create model
model = linear_model.LinearRegression()
model.fit(df.drop(columns = ['price'], axis=1), df.price)

LinearRegression()

In [11]:
model.predict([[3000,3,10]])

C:\Users\sarvesh\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([595359.7888393])

In [17]:
df2 = pd.read_csv('hiring.csv')
df2

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [42]:
df2.experience =  df2.experience.fillna(method= 'bfill')
df2.experience=df2.experience.apply(w2n.word_to_num)
df2['test_score(out of 10)']=df2['test_score(out of 10)'].fillna(df2['test_score(out of 10)'].median())
df2

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           5                    8.0                           9      50000
1           5                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [35]:
hire_model = linear_model.LinearRegression()
hire_model.fit(df2.drop(columns= ['salary($)'], axis =1),df2['salary($)'])

LinearRegression()

In [43]:
hire_model.predict([[2,9,6]])

C:\Users\sarvesh\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([45979.08171436])