In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
input = df.drop(['salary_more_then_100k'],axis=1)

In [4]:
input

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [5]:
target = df['salary_more_then_100k']

In [6]:
from sklearn.preprocessing import LabelEncoder
le_company  = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
input['company_n'] = le_company.fit_transform(input.company)
input['job_n'] = le_company.fit_transform(input.job)
input['degree_n'] = le_company.fit_transform(input.degree)
input

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

Google = 2, abc_pharma  = 0 , facebook = 1
sales executive = 2 , business_manager = 0, computer proagrammer = 1
bachlors = 0 , masters =1

In [8]:
input_n = input.drop(['company','job','degree'],axis = 1)
input_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [9]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [10]:
model.fit(input_n,target)

DecisionTreeClassifier()

In [11]:
model.predict([[1,0,0]])

C:\Users\sarvesh\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

**Accuracy without using Train_test_split**

In [12]:
model.score(input_n, target)

1.0

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(input_n, target, test_size=0.2)

In [14]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [15]:
x_test

    company_n  job_n  degree_n
15          1      1         1
5           2      1         1
7           0      1         0
4           2      1         0

In [16]:
model.predict(x_test)

array([1, 1, 0, 1], dtype=int64)

**Accuracy Using Train_test_split**

In [17]:
model.score(x_test,y_test)

0.75

# Exercise

In this file using following columns build a model to predict if person would survive or not,
Pclass
Sex
Age
Fare
Calculate score of your model

In [19]:
df2= pd.read_csv('titanic.csv')
df2.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [36]:
df2['Age'].fillna(df2.Age.mean())
df2.drop(['Sex'],axis=1, inplace = True)

In [38]:
df2['Age'].fillna(df2.Age.mean())
df2.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [47]:
x = df2[['Pclass','Age','Fare']]
y = df2.Survived
x

     Pclass   Age     Fare
0         3  22.0   7.2500
1         1  38.0  71.2833
2         3  26.0   7.9250
3         1  35.0  53.1000
4         3  35.0   8.0500
..      ...   ...      ...
886       2  27.0  13.0000
887       1  19.0  30.0000
888       3   NaN  23.4500
889       1  26.0  30.0000
890       3  32.0   7.7500

[891 rows x 3 columns]

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [45]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [46]:
model.fit(x_train, y_train)

ValueError: Input X contains NaN.
DecisionTreeClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values